@use "sass:color"
@use "bulma/sass/utilities" as u

$box-background-color: color.scale(u.$text-invert, $alpha: -75%)

a, body
    color: u.$text

a:hover, .button:hover, strong
    color: u.$text-strong

.content
    h1, h2, h3
        color: u.$text

.title
    color: u.$text

.navbar
    .navbar-item:not(.is-active)
        color: u.$text
        &.is-tab
            text-shadow: $box-background-color .5px .5px 2px
        &:hover
            color: u.$text-strong
    .navbar-burger
        color: u.$text

.section.regularo ol,
.section.elŝuti .info,
.section.elŝuti ul p,
.section.mapo .button:hover
    background: $box-background-color
