@use "sass:color"

@use "bulma/sass/utilities" as u
@use "bulma/sass/utilities/extends"

@font-face
    font-family: MinecraftiaEO
    font-style: normal
    font-weight: 500
    src: url("tiparoj/MinecraftiaEO.ttf") format("truetype")

.ekludi
    .grava-informo, .kontrollisto
        @extend %block
        border-radius: u.$radius-large
        padding: u.$gap
    .content a
        color: color.mix(u.$green, u.$blue)
        transition: text-shadow .2s u.$easing
        &:hover
            text-shadow: color.scale(u.$white-ter, $alpha: -80%) 0 1px 4px
    img
        box-shadow: u.$black-ter 0 2px 8px
        display: block
        margin: auto
    x-btn
        background: color.scale(u.$grey, $alpha: -20%)
        border: outset 2pt u.$grey
        border-radius: u.$radius
        color: #fff
        padding: 4px 8px
    x-btn,code
        font: .7em MinecraftiaEO
