@use "bulma/sass/utilities" as u
    
.elŝuti
    .info
        border-radius: u.$radius
        padding: u.$gap
    ul
        display: flex
        justify-content: center
        list-style: none
        &>li
            text-align: center
            margin: 0 u.$gap
            width: 300px
            p
                border-radius: u.$radius-large
                padding-top: u.$gap
            img
                display: block
                margin-top: u.$gap
                @media (hover: hover)
                    transition: all .2s u.$easing
                    position: relative
                    top: 0
                    filter: saturate(.5)
                    &:hover
                        box-shadow: u.$black-ter 0 4px 8px
                        top: -8px
                        filter: saturate(1)
