@use "bulma/sass/utilities/mixins"

.section.mapo
    p
        font-size: 11pt
        margin-bottom: .4em
        text-align: center
        @include mixins.tablet
            text-align: right
        a
            opacity: .5
            transition: .2s
            &:hover
                opacity: 1
    figure
        iframe
            background: linear-gradient(to bottom right, var(--rozkolora), var(--violkolora))
