@use "bulma/sass/utilities/mixins"

.regularo
    text-align: justify
    ol
        margin: 0
        padding: 1em 1em 1em 2em
        @include mixins.mobile
            margin: 0 -1rem
        @include mixins.desktop
            margin: 0 2rem
