@use "bulma/sass/utilities" as u
@use "bulma/sass/utilities/mixins"
    
@keyframes aperi
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes malaperi
    0%
        opacity: 1
    100%
        opacity: 0
section.ĉefpaĝo em-karuselo
    border-radius: u.$radius
    box-shadow: #222 0 4px 8px
    float: right
    margin: 0 0 u.$gap u.$gap
    overflow: hidden
    position: relative
    width: 50%
    @include mixins.mobile
        display: none
    picture.aperi, picture.malaperi
        position: absolute
        top: 0
        left: 0
    picture.aperi
        animation: aperi 1s u.$easing
    picture.malaperi
        animation: malaperi 1s u.$easing

nav.ĉefpaĝo
    font-weight: 500
    width: auto
    li
        &:nth-child(1) div
            background: linear-gradient(to bottom, #ba4a00, #ee9800)
        &:nth-child(2) div
            background: linear-gradient(to bottom, #178700, #1dae00)
        &:nth-child(3) div
            background: linear-gradient(to bottom, #5a008f, #b000ed)
    a div
        border-radius: u.$radius-large
        color: #fff
    @include mixins.mobile
        margin: 0
        a div
            padding: 16px
            width: 100%
        .icon:not(:last-child)
            font-size: 32px
            margin-right: 16px
        span
            white-space: break-spaces
            &:not(:first-child):not(:last-child)::after
                content: " "
    @include mixins.tablet
        a div
            align-items: center
            flex-direction: column
        .icon:not(:last-child)
            margin: 0
    @include mixins.tablet-only
        font-size: 24pt
        a div
            width: 220px
            height: 220px
            span
                line-height: 24pt
        .icon:not(:last-child)
            font-size: 60pt
            height: 120px
    @include mixins.desktop
        font-size: 32pt
        a div
            width: 280px
            height: 280px
            span
                line-height: 32pt
        .icon:not(:last-child)
            font-size: 80pt
            height: 160px
    @media (hover: hover)
        li
            transform: translate(0, 0px)
            transition: all .2s u.$easing
            div
                filter: saturate(.5)
                transition: filter .2s u.$easing
            &:hover
                transform: translate(0, -2px)
                div
                    box-shadow: u.$black-ter 0 4px 16px
                    filter: saturate(1)
