{{ define "enhavo" }}
<section class="section regularo">
    <nav class="container block">
        <ul class="columns is-mobile is-multiline">
            {{ range .Pages }}
            <li class="column is-narrow">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <div class="container content">
        {{ range .Pages }}
            {{ if eq .Params.lang "eo" }}
                {{ .Content | safeHTML }}
            {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
