{{ define "enhavo" }}
<div class="section mapo">
    <div class="container">
        <p>
            <a class="icon-text" href="{{ .Site.Params.mapo }}" target="_blank">
                <span>Malfermi en nova langeto</span>
                <span class="icon">
                    <i class="fa-solid fa-up-right-from-square"></i>
                </span>
            </a>
        </p>
        <figure class="image is-5by4">
            <iframe class="has-ratio" src="{{ .Site.Params.mapo }}" frameborder="0"></iframe>
        </figure>
    </div>
</div>
{{ end }}