@use "sass:color"
@use "bulma/sass/utilities" as u with($text: #202020, $text-strong: #000)

@forward "sass/bazo"

body
    background-color: color.mix(#d8b9fb, #f3d2df)
    background-image: linear-gradient(to bottom right, #d8b9fb, #f3d2df)

.malhela
    opacity: .5

.ekludi
    .grava-informo
        background-color: color.scale(u.$danger, $alpha: -80%)
    .kontrollisto
        background-color: color.scale(u.$info, $alpha: -80%)
