@use "sass:color"
@use "sass:math"

// bulma
@use "komuna-bulma" as kb
@forward "komuna-bulma"
@use "bulma/sass/utilities" as u
@use "bulma/sass/utilities/mixins"

// tiparo
@forward "sass/made-tommy"
@forward "sass/simboloj"

@forward "sass/ĉefpaĝo"
@forward "sass/regularo"
@forward "sass/mapo"
@forward "sass/ekludi"
@forward "sass/elŝuti"
@forward "sass/404"

$violkolora: kb.$violkolora
$rozkolora: kb.$rozkolora

h1
    text-transform: uppercase
h2
    font-variant: small-caps
hr
    background: linear-gradient(to right, $violkolora, $rozkolora)
    opacity: .8

$discord: #5865f2
$gitlab: #fc6d26
$miavivo: #1cb961
$retpoŝto: #ea4335
$telegram: #0c9ebf
$twitter: #1d9bf0
$ligiloj: "at" $retpoŝto, "discord" $discord, "gitlab" $gitlab, "miavivo" $miavivo, "telegram" $telegram, "twitter" $twitter

$heksagono-larĝo: 64px

html
    min-height: 100vh

body
    display: flex
    flex-direction: column
    min-height: 100vh
    @include mixins.desktop
        background-attachment: fixed
    @include mixins.tablet
        background-size: cover

.navbar
    font-size: u.$size-4
    font-weight: u.$weight-medium
    text-align: center

.navbar-brand>.navbar-item
    gap: 0
    font-size: u.$size-1
    white-space: nowrap
    @include mixins.mobile
        font-size: u.$size-4
    img
        margin-right: math.div(u.$gap, 2)
        @include mixins.mobile
            margin-right: math.div(u.$gap, 3)
            max-height: 3rem
            width: 48px

.navbar-end
    padding: 1rem .5rem

.navbar-item.is-tab
    border-bottom-width: 4px
    font-weight: u.$weight-normal
    min-height: 0
    text-shadow: color.scale(u.$text-invert, $alpha: -50%) .5px .5px 2px
    @include mixins.touch
        border-bottom-width: 0
    @include mixins.desktop
        margin: 0 2px
    &.is-active
        background: linear-gradient(to bottom, $violkolora, $rozkolora)
        border-radius: u.$radius
        text-shadow: none
    &.etoso:hover
        border-bottom-color: transparent

.button.etoso
    background: color.scale(grey, $alpha: -80%)
    border: none
    height: 2em
    padding: 0 1em
    .hela
        color: u.$yellow
        text-shadow: u.$yellow 0 0 8px
    .malhela
        color: u.$white
        text-shadow: u.$white 0 0 8px

section
    font-size: 16pt

footer
    text-align: center
    font-size: u.$size-3
    font-weight: u.$weight-bold
    .columns
        margin: u.$gap 0
    .column
        max-width: $heksagono-larĝo
        margin: 0 math.div(u.$gap, 2)
        padding: 0
        @include mixins.mobile
            margin: 0 8px
    ul a
        display: block
        height: $heksagono-larĝo
        transform: translate(0, 0px)
        transition: transform .2s u.$easing
        &:hover
            transform: translate(0, -4px)
            .ombro
                filter: blur(4px)
    i
        color: u.$white
        position: absolute
    .heksagono
        &, &::before, &::after
            position: absolute
            display: block
            width: $heksagono-larĝo
            height: math.round(math.div($heksagono-larĝo, math.sqrt(3)))
            content: " "
        &::before
            transform: rotate(60deg)
        &::after
            transform: rotate(120deg)
    .ombro
        &, &::before, &::after
            background: u.$black
            transition: filter .2s u.$easing
    .icon
        --fa-display: inline-flex
        left: math.div(math.round($heksagono-larĝo - 48px), 2)
        top: math.div(math.round(math.div($heksagono-larĝo, math.sqrt(3)) - 48px), 2)

    @each $name, $color in $ligiloj
        a
            .#{$name}
                &, &::before, &::after
                    background: $color
            &:hover .#{$name}
                &, &::before, &::after
                    background: color.scale($color, $lightness: -5%)
    div:last-child
        font-size: u.$size-6
        line-height: 1
