@use "sass:color";

$violkolora: #5500d4;
$rozkolora: #ff0066;

@use "../vendor/bulma/sass/utilities" as u with (
    $family-sans-serif: '"MADE Tommy", sans-serif',
    $scheme-main: transparent,
    $scheme-main-bis: transparent,
    $code-background: transparent,
);
@use "bulma/sass/components/card" with (
    $card-shadow: u.$black-ter 0 2px 8px,
    $card-radius: .5rem,    
);
@use "bulma/sass/components/navbar" with (
    $navbar-background-color: u.$scheme-main,
    $navbar-height: 5rem,
    $navbar-item-img-max-height: 4rem,
    $navbar-tab-hover-background-color: transparent,
    $navbar-tab-hover-border-bottom-color: color.mix($violkolora, $rozkolora),
    $navbar-tab-active-color: u.$white,
    $navbar-tab-active-border-bottom-style: none,
);
@use "bulma/sass/elements/box" with ($box-link-hover-shadow: u.$black-ter 0 2px 8px);
@use "bulma/sass/layout/footer" with ($footer-background-color: u.$scheme-main);

@forward "bulma/sass/base";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/elements/block";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/image";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/footer";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/themes";

:root {
    --violkolora: #{$violkolora};
    --rozkolora: #{$rozkolora};
    --bulma-code-background: #{u.$code-background};
    .navbar-item:hover, .navbar-item:focus {
        --bulma-navbar-item-background-a: 0;
    }
}