@use "sass:color"
@use "bulma/sass/utilities" as u with($text: #f0f0f0, $text-strong: #fff)

@forward "sass/bazo"

body
    background-color: color.mix(#28133f, #5a1631)
    background-image: linear-gradient(to bottom right, #28133f, #5a1631)

.hela
    opacity: .5

.ekludi
    .grava-informo
        background-color: color.scale(u.$danger, $lightness: -80%, $alpha: -80%)
    .kontrollisto
        background-color: color.scale(u.$info, $lightness: -80%, $alpha: -80%)
