<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ relURL "" }}">
                <img src="{{ relURL "stelo.svg" }}" alt="insigno" width="64" height="64"> {{ .Site.Title }}
            </a>
            <a role="button" class="navbar-burger" aria-label="menuo" aria-expanded="false" data-target="menuo">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div id="menuo" class="navbar-menu">
            <div class="navbar-end">
                {{ $p := . }}
                {{ range .Site.Menus.cxefa }}
                    {{ $a := or ($p.IsMenuCurrent "cxefa" .) ($p.HasMenuCurrent "cxefa" .) }}
                    <a class="navbar-item is-tab{{ if $a }} is-active{{ end }}" href="{{ .URL }}">
                        <span class="icon-text">
                            {{ with .Page.Params.simbolo }}
                                <span class="icon">
                                    <i class="en {{ . }}"></i>
                                </span>
                            {{ end }}
                            <span>{{ .Name }}</span>
                        </span>
                    </a>
                {{ end }}
                <span class="navbar-item is-tab etoso">
                    <a href="#" class="button is-rounded etoso" aria-label="ŝanĝi etoson">
                        <span class="icon hela">
                            <i class="fa fa-sun"></i>
                        </span>
                        <span class="icon malhela">
                            <i class="fa fa-moon"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </nav>
</header>