{{ define "enhavo" }}
    <section class="eraro404">
        <h1 class="title is-1">404</h1>
        <p>
            <img src="{{ relURL "404.png" }}" alt="Eraro" width="128px" height="128px"><br>
            <strong>“Aj ve, kara.”</strong><br>
            Tiu ĉi paĝo ne ekzistas.
        </p>
    </section>
{{ end }}