{{ define "enhavo" }}
<section class="section ĉefpaĝo">
    <div class="content is-clearfix">
        {{ .Content | safeHTML }}
    </div>
</section>
<nav class="section container ĉefpaĝo">
    <ul class="columns">
        {{ $resources := .Resources }}
        {{ range .Params.ligiloj }}
        <li class="column">
            <a href="{{ relURL .href }}">
                <div class="icon-text">
                    <span class="icon">
                        <i class="en {{ .simbolo }}"></i>
                    </span>
                    {{ $linioj := split .titlo " " }}
                    {{ if gt (len $linioj) 2 }}
                        <span>{{ delimit (first 2 $linioj) " " }}</span>
                        <span>{{ delimit (after 2 $linioj) " " }}</span>
                    {{ else }}
                        <span>{{ index $linioj 0 }}</span>
                        <span>{{ index $linioj 1 }}</span>
                    {{ end }}
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>

{{ with .GetPage "/pri" }}
    <section class="section content container">
        {{ .Content }}
    </section>
{{ end }}

{{ end }}